Package: scriptcoll
Version: 1.0-1
Architecture: amd64
Maintainer: mypc <mypc@unknown>
Installed-Size: 25
Section: unknown
Priority: optional
Homepage: <insert the upstream URL, if relevant>
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
